.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #073042;
  margin-left: -70px;
  margin-right: -70px;
}

.header__otherPage {
  background-color:  #202020;
}

.header__logo {
  margin: 18px 0 18px 70px; 
}

.header__logo:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header__navigation {
  margin-right: 70px;
}

.header__registration {
  margin-right: 30px;
  margin-top: 29px;
  color: #FFFFFF;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

.header__registration:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header__auth-btn {
  margin-top: 21px;
  margin-bottom: 21px;
  min-width: 76px;
  min-height: 32px;
  background: #3DDC84;
  box-sizing: border-box;
  border-style: none;
  border-radius: 3px;
}

.header__auth-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header__navList {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
}

.header__link {
  margin: 0 auto;
  text-decoration: none;
  list-style-type: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height, or 138% */
  text-align: right;
  color: #FFFFFF;
}


.header__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header__link:nth-last-of-type(2) {
  margin-right: 16px;
}

.header__profile {
  margin-right: 70px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.header__profileText {
  margin: 0 17px 0 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.header__profile:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header__profileIcon {
  min-width: 26px;
  min-height: 30px;
  background-image: url('../../images/header-buttonIcon.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-color: #313131;
  border-radius: 4px;
}

.header_menuButton {
  margin-right: 50px;
  min-width: 44px;
  min-height: 44px;
  background: url('../../images/header-menuButton.svg') center no-repeat;
  border: none;
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    margin-left: -50px;
    margin-right: -50px;
  }
  .header__logo {
    margin-left: 30px;
  }
  .header__navigation {
    margin-right: 30px;
  }
  .header__profile {
    display: none;
  }
  
  .header_menuButton {
    display: block;
    margin-right: 30px;
  }

  .header__navList  {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .header {
    margin-left: -10px;
    margin-right: -10px;
  }
  .header__logo {
    margin-left: 14px;
  }
  .header__navigation {
    margin-right: 14px;
  }
  .header__registration {
    margin-right: 14px;
    font-size: 10px;
  }
  .header__auth-btn {
    margin-top: 29px;
    min-width: 54px;
    min-height: 26px;
  }
  .header_menuButton {
    min-width: 40px;
    min-height: 43px;
    margin-right: 14px;
  }
}