.moviesCard {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border-color: black;
  box-sizing: border-box;
  max-width: 360px;
}

.moviesCard__image {
  max-width: 360px;
  max-height: 201px;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
}

.moviesCard__image:hover {
  cursor: pointer;
}

.moviesCard__text {
  margin: 0 0 0 0 ;
  text-align: left;
  max-width: 250px;
  max-height: 36px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  color: #FFFFFF;
  overflow: hidden;
  text-overflow: ellipsis;
}

.moviesCard__save {
  margin: 0;
  margin-top: 14px;
  margin-right: 14px;
  padding: 0;
  min-width: 72px;
  min-height: 21px;
  align-self: flex-end;
  position: absolute;
  background: #313131;
  border: 0;
  border-radius: 30px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 9px;
  color: #FFFFFF;
}
  
.moviesCard__save:hover {
  opacity: 0.5;
  cursor: pointer;
}

.moviesCard__saved {
  background: url("../../../images/saved.svg") no-repeat;
  margin: 0;
  padding: 0;
  margin-top: 14px;
  margin-right: 14px;
  min-width: 21px;
  min-height: 21px;
  align-self: flex-end;
  position: absolute;
  border: 0;
}

.moviesCard__saved:hover {
  opacity: 0.5;
  cursor: pointer;
}
.moviesCard__info {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  padding-left: 14px;
  padding-right: 14px;
}

.moviesCard__duration {
  margin-top: 0;
  margin-bottom: 0;
  min-width: 52px;
  max-height: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 10px;
  /* or 91% */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8B8B8B;
  background: #2F2F2F;
  border-radius: 3px;
}

.moviesCard__delete {
  background: url("../../../images/movies-deleteBtn.svg") no-repeat;
  margin: 0;
  padding: 0;
  margin-top: 14px;
  margin-right: 14px;
  min-width: 21px;
  min-height: 21px;
  align-self: flex-end;
  position: absolute;
  border: 0;
}

.moviesCard__delete:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .moviesCard__image {
    max-width: 339px;
    max-height: 190px;
  }
  .moviesCard__info {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }
  .moviesCard__text {
    max-height: 16px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 540px) {
  .moviesCard__image {
    max-width: 300px;
    max-height: 168px;
  }
  .moviesCard__info {
    margin-top: 16px;
  }
  .moviesCard__text {
    font-size: 12px;
    line-height: 15px;
  }
  .moviesCard__save {
    margin-top: 10px;
    margin-right: 10px;
  }
  .moviesCard__saved {
    margin-top: 10px;
    margin-right: 10px;
  }
  .moviesCard__delete {
    margin-top: 10px;
    margin-right: 10px;
  }
}